.carro { 
    background-color: rgb(22, 36, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto;
    padding: 5px;
    margin-top: 75px;
    height: 100vh;
    gap: 50px;
    color: rgb(255, 255, 255);
    

}

.div-center{
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
}

.h1{
    -webkit-box-reflect: below 5px box-shadow(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

.div-galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 125px;
    height: 350px;
    width: 550px;
    background-color: rgba(0, 0, 0, 0.704);
    backdrop-filter: blur(5px);
    border-radius: 2rem;
    gap: 50px;
    padding: 5px;
}

.ico-frame {

    margin-top: 10px;
    background-color: transparent;
    width: 80px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}
.ico-frame:hover {
    transform: scale(0.8);
    box-shadow: 0px 0px 5px cyan,
        0px 0px 15px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan; 
    
}
.ico-frame2 {

    margin-top: 10px;
    background-color: transparent;
    width: 80px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
   
}
.ico-frame2:hover {
    transform: scale(0.8);
    box-shadow: 0px 0px 5px cyan,
        0px 0px 15px cyan, 0 0 50px cyan,
        0 0 100px cyan, 0 0 200px cyan; 
    border-radius: 50%;
}

.carrusel {
    position: relative;
    display: flex;
    flex-wrap: center;
    align-items: center;
    width: auto;
    height: 660px;
}

.foto-carrusel {

    min-height: 200px;
    height: auto;
    max-height: 400px;
    min-width: 150px;
    padding: 25px;
    margin: 0 auto;
    align-content: center;
}
.foto-carrusel1 {

    min-height: 200px;
    height: auto;
    max-height: 600px;
    min-width: 150px;
    padding: 25px;
    margin: 0 auto;
    align-content: center;
}
.foto-carrusel2 {

    min-height: 200px;
    height: auto;
    max-height: 300px;
    min-width: 150px;
    padding: 25px;
    margin: 0 auto;
    align-content: center;
}

@media (max-width: 925px){
    .carro {
      margin-top: 95px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 80px;
      height: 100vh;
      text-align: center; 
    }
    .div-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 70px;
       
    
    }
    .div-galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 75px;
        height: 350px;
        width: 350px;
        background-color: rgba(240, 248, 255, 0.112);
        backdrop-filter: blur(5px);
        border-radius: 2rem;
    }
      
  }
  
  @media (max-width: 825px) {
      .carro {
          margin-top: 95px;
          display: flex;
          padding: 80px;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          height: 100vh;
          text-align: center;
          
      }
      .div-center{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 70px;
        
      }

      .div-galeria {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-width: 75px;
        height: 350px;
        width: 350px;
        background-color: rgba(240, 248, 255, 0.112);
        backdrop-filter: blur(5px);
        border-radius: 2rem;
    }
     
      
}